*{
    color: #000;
}
.add-household-main 
{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.bg-img
{
    width: 100%;
    height: 40%;
    background-image: url('../../../public/img/account/background.jpg');
    background-position: 0 70%;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 5%;
    opacity: 0.7;
    z-index: -1;
}

.profile
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.content-info
{
    color: #000;
    position: absolute;
    top: 25%;
    left: 3%;
    background-color: #FAFAFA;
    border: solid 1px #969696;
    width: 25%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.account-img
{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 30px;
    object-fit: cover;
}

#name
{
    font-size: 24px;
    margin: 20px 0 10px 0;
    font-weight: 700;
}

#role, #id
{
    font-size: 18px;
    margin: 10px 0 5px 0;
    font-weight: 100;
}

.content-2
{
    display: block;
    color: #000;
    position: absolute;
    top: 25%;
    left: 32%;
    background-color: #FAFAFA;
    border: solid 1px #969696;
    width: 65%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h4{
    margin-top: 20px;
    font-weight: 500;
    cursor: pointer;
}

.household
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
}

.household-form
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 80%;
}

.household button
{
    width: 250px;
    height: 50px;
    font-size: 20px;
    margin: 20px 20px 0 20px;
}

.buttons
{
    gap: 20px;
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.element
{
    width: 460px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto 0 auto;
}

.element.full-width
{
    grid-column: span 2;
}

.element>input
{
    width: 420px;
    height: 50px;
    border: solid 1px #969696;
    font-size: 20px;
    padding: 0 10px 0 10px;
    border-radius: 0;
}

::placeholder
{
    color: #969696;
}

.element>label
{
    font-size: 18px;
    margin: 0 0 10px 0;
    font-weight: 600;
}

textarea {
    font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    padding: 12px;
    width: 100%;
    resize: none;
    border: solid 1px #969696;
    border-radius: 0;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    background-color: #fff;
    height: 150px;
}

@media only screen and (max-width: 1800px)
{
    .element>input
    {
        width: 350px;
    }
}

@media only screen and (max-width: 1500px)
{

    .content-2
    {
        width: 60%;
    }

    .household-form
    {
        left: 0px;
    }

    .element>input
    {
        width: 100%;
    }

    ::placeholder
    {
        font-size: 14px;
    }

    .household-form>button
    {
        width: 100%;
    }

}

@media only screen and (max-width: 950px)
{
    .profile
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .content-info
    {
        left: unset;
        width: 70%;
        height: 280px;
    }

    .account-img
    {
        width: 70px;
        height: 70px;
    }

    .content-2
    {
        margin-top: 270px;
        left: unset;
        width: 70%;
        height: 650px;
    }

    .buttons
    {
        flex-direction: column;
    }
}

@media only screen and (max-width: 580px)
{
    .chose>h4
    {
        font-size: 12px;
    }

    .household-form
    {
        display: flex;
        flex-direction: column;
    }

    .element>label
    {
        font-size: 12px;
        margin: 0;
    }

    .element>input
    {
        margin: 0;
        height: 35px;
    }

    .buttons button
    {
        width: 150px;
        font-size: 16px;
    }
}