.recipe-background
{
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media only screen and (max-width: 550px) {
    .recipe-background
    {
        background-position: 80% 65%;
    }
}