.pref-main
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.alergy-list, .shop-preference-list
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1BBC9B;
    width: 60%;
    border-radius: 5px;
    margin: 20px 0;
    padding: 30px;
}

.alergy-list
{
    margin: 100px 0;
}

.shop-preference-list
{
    margin-bottom: 50px;
}

.alergy-list>h2, .shop-preference-list>h2
{
    color: white;
    font-size: 36px;
    font-weight: 700;
    margin: 20px;
}

.list
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.pref-btn>button
{
    width: 240px;
    height: 50px;
    font-size: 24px;
    margin-bottom: 100px;
    padding: 10px 20px;
}
@media only screen and (max-width: 700px){
    .alergy-list, .shop-preference-list
    {
        width: 90%;
    }
    .pref-btn>button
    {
        margin-bottom: 50px;
    }

}