.current-page-button{
    background-color: #1bbc9b;
    color: white;
}
.page-button{
    border: none;
    font-size: 13px;
    outline: none;
    font-size: 16px;
    padding: 5px 10px;
}
.current-page-button:hover{
    background-color: #13a588 !important;

}
.page-button:hover{
    background-color: rgb(228, 227, 227);
}
.pagination-container {
    display: flex;
    justify-content: center; /* Centers the buttons inside the container */
    margin: 0 auto; /* Centers the container itself horizontally */
    /* Ensure it has a specified width or max-width if needed */
}