.drop_area{
    width: 100%;
    height: 100px;
    color: #dcdccd;
    border: 1px dashed #dcdcdc;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
    opacity: 1;
    transition: all 0.2s ease-in-out;
}

hdie{
    opacity: 0;
}