.searchContainer{
    display: flex;
    flex-direction: column;
    position: relative;
}

.contentSearch
{
    min-width: 100px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    width: 20%;
    border-radius: 10px;
    border: 1px solid black;
    background-color: white;
    z-index: 100;
    top: 50%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    width: 100%;
    position: absolute;
}

.contentSearch li:hover{
    background-color: aquamarine;
    border-radius: 7px;
}

.contentSearch ul
{
    padding: 3px 3px 3px 3px;
    margin: 0;
    border-radius: 10px;
    list-style-type: none;
}