nav
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #F2F2F2;
    color: #000;
    width: 100%;
    align-items: center;
    height: 80px;
}

nav img
{
    margin-left: 100px;
}

ul
{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

li:not(.reg-btn, .menu)
{
    margin-top: 10px;
}

.home>a
{
    color:#1BBC9B;
}

.about
{
    margin: 0 50px 0 190px;
}

.contact
{
    margin: 0 100px 0 0;
}

a
{
    text-decoration: none;
    color: #000;
}

.menu
{
    width: 25px;
    height: 25px;
    cursor: pointer;
    background-image: url('../../../public/img/ico/Menu.png');
    background-size: cover;
    position: relative;
    bottom: 2px;
}

.home-hide
{
    display: none;
}

nav button
{
    margin: 0 120px 0 40px;
}

button:hover
{
  background-color: #fff;
  color: #1BBC9B;
  border: 1px solid #1BBC9B;
}

.menu:hover
{
    background-image: url('../../../public/img/ico/Menu-hover.png');
}

.dropdown
{
    display: inline-block;
    
}

.dropdown a
{
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
}

.dropdown .content
{
    right: 260px;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    min-width: 100px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    display: none;
    z-index: 2;
}

.dropdown .account-hide {
    display: none;
}
.dropdown:hover .content
{
    display: block ;
}

.dropdown .content a:hover
{
    background-color: #1BBC9B;
}

@media only screen and (max-width: 1500px)
{
    .about
    {
        margin: 0 20px 0 20px;
    }

    .menu
    {
        margin: 0 0 0 20px;
    }
}

@media only screen and (max-width: 950px)
{
    .home-hide
    {
        display: block;
    }

    li:not(.reg-btn, .dropdown)
    {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .reg-btn {
        display: none; 
    }
    .account-hide {
        display: block; 
    }
    .menu {
        margin-right: 20px;
    }
    .dropdown .content { 
        right: 0; 
        width: 180px;
    }
    .dropdown{
        margin-top: 120px;
    }
    .dropdown .account-hide {
        display: block; 
    }

    .account-hide button
    {
        margin: 0;
    }

    .reg-btn, li:not(.dropdown, .menu) {
        display: none;
    }
}
