*{
    color: #000;
}
main 
{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.bg-img
{
    width: 100%;
    height: 40%;
    background-image: url('../../../public/img/account/background.jpg');
    background-position: 0 70%;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 5%;
    opacity: 0.7;
    z-index: -1;
}

.profile
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.content-info
{
    color: #000;
    position: absolute;
    top: 25%;
    left: 3%;
    background-color: #FAFAFA;
    border: solid 1px #969696;
    width: 25%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.account-img
{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 30px;
    object-fit: cover;
}

#name
{
    font-size: 24px;
    margin: 20px 0 10px 0;
    font-weight: 700;
}

#role, #id
{
    font-size: 18px;
    margin: 10px 0 5px 0;
    font-weight: 100;
}

.content-info a
{
    margin-top: 30px;
}

.content-2
{
    display: block;
    color: #000;
    position: absolute;
    top: 25%;
    left: 32%;
    background-color: #FAFAFA;
    border: solid 1px #969696;
    width: 65%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chose
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

h4{
    margin-top: 20px;
    font-weight: 500;
    cursor: pointer;
}

.setings
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;

}

.setings-form
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-gap: 20px;
    width: 90%;
    margin: 40px 0 10px 0;
}

.element
{
    width: 460px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto 0 auto;

}

.element>input
{
    width: 450px;
    height: 50px;
    border: solid 1px #969696;
    font-size: 20px;
    padding: 0 10px 0 10px;
}

::placeholder
{
    color: #969696;
}

.element>label
{
    font-size: 18px;
    margin: 0 0 10px 0;
    font-weight: 600;
}

.content-2 button
{
    width: 250px;
    height: 50px;
    font-size: 20px;
}

.setings .warning
{
    margin-top: 30px;
}

.setings-form .update-button-container {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    margin-top: 20px; 
}

.security
{
    display: none;
    width: 100%;
    height: 100%;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.security-form
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-gap: 20px;
    width: 90%;
}

.household
{
    display: none;
    width: 65%;
    height: 70%;
    color: #000;
    position: absolute;
    background-color: #FAFAFA;
    margin-top: 65px;
}

.household-item
{
    width: 80%;
    height: 200px;
    background-image: url('../../../public/img/account/2o.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 20px 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.household-item>h2
{
    font-weight: 800;
    font-size: 35px;
}

@media only screen and (max-width: 1800px)
{
    .element>input
    {
        width: 350px;
    }
}

@media only screen and (max-width: 1500px)
{

    .content-2
    {
        width: 60%;
    }

    .setings-form
    {
        left: 0px;
    }

    .element>input
    {
        width: 100%;
    }

    ::placeholder
    {
        font-size: 14px;
    }

    .setings-form>button
    {
        width: 100%;
    }

    .setings-form .update-button-container {
        width: 100%;
    }

    .update-button {
        width: 100%;
    }

}

@media only screen and (max-width: 950px)
{
    .profile
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .content-info
    {
        left: unset;
        width: 70%;
        height: 280px;
    }

    .account-img
    {
        width: 70px;
        height: 70px;
    }

    .content-2
    {
        margin-top: 270px;
        left: unset;
        width: 70%;
        height: 650px;
    }
}

@media only screen and (max-width: 850px)
{
    .setings p
    {
        text-align: center;
        width: 80%;
    };
}

@media only screen and (max-width: 580px)
{
    .chose>h4
    {
        font-size: 12px;
    }

    .setings-form, .security-form
    {
        display: flex;
        flex-direction: column;
    }

    .security-form
    {
        margin-bottom: 20px;
    }

    .element>label
    {
        font-size: 12px;
        margin: 0;
    }

    .element>input
    {
        margin: 0;
        height: 35px;
    }

    .setings-form .update-button-container {
        width: 60%;
    }

    .setings>p
    {
        font-size: 14px;
    }
}